/* CSS do contato */

.fundo {
    /* background-color: rgba(36, 150, 83, 0.7); */
    height: 585px;
    text-align: center;
    margin: auto auto;
    max-width: 60%;
  
  }
  
  .div_contato {
  
    background-color: #ffff;
    border-radius: 8px;
    width: 750px;
    height: 450px;
    float: left;
    text-align: center;
    margin-top: 80px;
    align-items: center;
    background-color: rgba(36, 150, 83, 0.7);
    box-shadow: 31px 24px 19px rgb(36 150 83 / 40%);
  
  }
  
  .divisao {
    height: 280px;
    width: 2px;
    background-color: black;
    float: left;
    margin-left: 68px;
    opacity: 50%;
    border-radius: 20px;
  }
  
  .img_alfa {
    height: 80px;
    margin: 20px;
    align-items: center;
  }
  
  .contato_right {
    float: right;
    margin-right: 55px;
    margin-top: 10px;
  }
  
  .contato_left {
    float: left;
    margin-left: 55px;
  }
  
  .div_telefone {
    background-color: rgb(235, 235, 235);
    width: 250px;
    height: 250px;
    margin-top: 10px;
    border-radius: 8px;
  }
  
  .div_email {
    background-color: rgb(235, 235, 235);
    width: 250px;
    height: 115px;
    margin-top: 17px;
    border-radius: 8px;
  }
  
  .img_left {
    height: 38px;
    margin-top: 17px;
    margin-left: 7px;
  }
  
  .mens_suporte {
    font-size: 20px;
    margin-top: 8px;
    max-width: 135px;
    margin-left: 57px;
  }
  
  .titulo {
    font-size: 25px;
    margin-top: -15px;
  }
  
  .inputs {
    border-radius: 5px;
    max-width: 150px;
    height: 20px;
    margin-top: 19px;
    border: #a8a8a8 solid 2px;
  }
  
  .input_mensagem {
    border-radius: 5px;
    width: 250px;
    height: 100px;
    margin-top: 19px;
  }
  
  .botao {
    width: 90px;
    color: #ffff;
    background-color: #4fd64f;
    height: 30px;
    border-radius: 1px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    box-shadow: 2px 2px 0 1px #ffff;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin-top: 18px;
  }
  
  .botao:active {
    box-shadow: 0 0 0 0 #ffff, inset 3px 3px 3px #ffff;
    transform: translate(3px, 3px);
  }
  
  button:focus {
    outline: none;
  }